$red:             rgba(244, 67, 54, 1.0);
$pink:            rgba(233, 30, 99, 1.0);
$purple:          rgba(156, 39, 176, 1.0);
$deep-purple:     rgba(103, 58, 183, 1.0);
$indigo:          rgba(63, 81, 181, 1.0);
$blue:            rgba(33, 150, 243, 1.0);
$light-blue:      rgba(3, 169, 244, 1.0);
$cyan:            rgba(0, 188, 212, 1.0);
$teal:            rgba(0, 150, 136, 1.0);
$green:           rgba(76, 175, 80, 1.0);
$light-green:     rgba(139, 195, 74, 1.0);
$lime:            rgba(205, 220, 57, 1.0);
$yellow:          rgba(255, 235, 59, 1.0);
$amber:           rgba(255, 193, 7, 1.0);
$orange:          rgba(255, 152, 0, 1.0);
$deep-orange:     rgba(255, 87, 34, 1.0);
$brown:           rgba(121, 85, 72, 1.0);
$gray:            rgba(158, 158, 158, 1.0);
$blue-gray:       rgba(96, 125, 139, 1.0);
$neu-dark:        rgba(45, 49, 66, 1.0);
$neu-dark-gray:   rgba(98, 101, 114, 1.0);
$neu-medium-gray: rgba(150, 152, 161, 1.0);
$neu-gray:        rgba(203, 204, 208, 1.0);
$neu-light-gray:  rgba(229, 229, 229, 1.0);
$neu-transparent: rgba(229, 229, 231, 0.5);
$neu-error:       rgba(225, 60, 23, 1.0);
$neu-success:     rgba(27, 191, 137, 1.0);
$neu-warning:     rgba(255, 188, 48, 1.0);
$neu-info:        rgba(55, 114, 255, 1.0);
$neu-note:        rgba(219, 82, 72, 1.0);
$neu-fresh:       rgba(101, 163, 255, 1.0);
$neu-light:       rgba(239, 239, 255, 1.0);
